.form-instruction {
	padding-top: 215px;
}

.form-instruction h3 {
	font-size: 23px;
	letter-spacing: 1px;
	line-height: 1.4;
	font-weight: 100;
	padding: 36px;
	text-align: left;
}

.closing-image {
	padding: 36px;
}

.closing-image img {
	width: 100%;
}

.example-container {
	text-align: center;
	padding-top: 120px;
	padding-bottom: 225px; 
}

.example-container > div {
	text-align: center;
	padding: 20px;
}

.example-container > div h2 {
	font-weight: 100;
}

.example-container > div a {
	font-size: 30px;
	font-weight: 100;
	text-decoration: underline;
	color: #fff;
}

.example-container > div a:hover {
     background: #000;
     opacity: .6;
}

.box1 {
	text-align: left;
	width: 580px;
	margin: 0 auto;
	font-weight: 100;	
}

.box1 span {
	padding-bottom: 32px;
}

.box2 {
	text-align: left;
	width: 580px;
	margin: 0 auto;
}

.box4 .col-50 {
	padding-bottom: 72px;
}

.col-50 {
	width: 580px;
	padding: 12px;
	border-radius: 5px;
	margin-bottom: 32px;
}

.col-25 {
	display: inline-block;
	width: 270px;
	padding: 12px;
	border-radius: 5px;
	margin-bottom: 5px;
}

.title {
	display: block;
	padding-bottom: 5px;
	font-weight: 100;
}

.row {
	display: inline-block;
}

.row span {
	display: block;
}

@media screen and (min-width: 768px) {
	.example-container {
		display: flex;
		padding-top: 120px; 
		padding-left: 36px;
		padding-right: 36px;
		padding-bottom: 225px;
		justify-content: center
	}

	.example-container > div {
		padding: 0px 100px;
	}

	.example-container > div h2 {
		font-weight: 100;
	}

	.example-container > div a {
		font-size: 30px;
		font-weight: 100;
		text-decoration: underline;
		color: #fff;
	}

	.form-instruction h3 {
		width: 600px;
		font-size: 32px;
		margin: 0 auto;
	}


}