body {
	background-color: #000;
	color: #fff;
	margin: 0px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

nav ul {
	padding: 0px; 
	margin: 0px;
	list-style: none;
	text-align: right;
}

nav ul li {
	display: inline-block;
	margin: 0px 20px;
}

.home-logo {
	font-size: 24px;
	padding: 0px 30px;
}

.hero {
	font-size: 65px;
	width: 900px;
	padding-left: 30px;
}

.hero-pic {
	width:95%;
	padding-left: 30px;
	padding-right: 30px;
}

.hero-content {
	width: 470px;
	font-size: 27px;
	padding-left: 30px;
	padding-right: 0px;
	padding-top: 10px; 
	padding-bottom: 30px;
}

.our-services {
	color: #000;
	font-size: 20px;
	text-decoration: none;
	background-color: white;
	padding: 20px 35px; 
	border-radius: 35px;
}

.button {
	padding-left: 30px;
	padding-bottom: 100px
}

.white-box {
	background-color: white;
	width: 100%;
	color: #000;
	text-align: center;
	padding-bottom: 100px;
}

.work-header {
	font-size: 45px;
	width: 550px;
	margin: 0px auto;
	padding: 80px 200px;
}

.work-button {
	display: inline-block;
}

.our-work {
	color: white;
	font-size: 20px;
	text-decoration: none;
	background-color: #000;
	padding: 20px 35px; 
	border-radius: 35px;
}

.featured-work {
	background-image: url("https://images.squarespace-cdn.com/content/v1/5d435de878554d0001216799/1565925739118-ZC86LZXKETAAHHQDEH99/ke17ZwdGBToddI8pDm48kMy2dkWn3am2nkMRAaxLBUN7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UT_BUXkGInUbH6khyww6pdeEvD225meLd2f1SQrpW4LEgTU3Ng5xImScJXtkc2STmw/Texture_15_066-copy.jpg?format=1500w"); 
}

.featured-work h2 {
	font-size: 35px;
	width: 100%;
	text-align: center;	
	padding-top: 90px;
	margin: 0px;
}


.content-image {
	width: 100%;
	text-align: center;
	padding-top: 35px;
	padding-bottom: 35px;
}

.pot-plant-pic {
	width: 100%;
}

.design {
	font-size: 20px;
	text-align: center;
	width: 100%;
	padding-bottom: 35px;
}

.design p {
    padding-bottom: 35px;
}

.case-button {
	text-align: center;
}

.view-case-study {	
	color: #000;
	font-size: 20px;
	background-color: #fff;
	padding: 20px 35px;
	text-decoration: none;
	border-radius: 35px;
	display: inline-block;
}

.white-box-2 {
	background-color: #fff;
	width: 100%;
	color: #000;
	padding-bottom: 100px;
}

.who {
	font-size: 40px;
	width: 550px;
	padding-top: 200px; 
	padding-left: 475px;
	margin: 0px;
}

.companies ul{
	list-style: none;
}

.square-space {
	width: 275px;
	padding-top: 40px;
	padding-left: 225px;
}

.company-container ul {
	list-style: none;
}

.black-box {
	text-align: center;
}

.work-with {
	font-size: 60px;
	padding-top: 60px;
}

.contact-us {	
	color: #000;
	font-size: 20px;
	text-decoration: none;
	background-color: white;
	padding: 20px 35px; 
	border-radius: 35px;
}

.contact-button {
	padding-bottom: 200px;
}

.company-container {
	background-color: #000;
	position: relative;
}

.company-info {
	position: absolute;
	z-index: 1;
	top: 0px;
	left: 0px;
}

.company-info ul {
	list-style: none;
	padding-top: 200px;
}

.company-info a {
	font-size: 35px;
	color: #fff;
	padding: 50px 10px;
}

.company-info li {
	margin-bottom: 40px;
}

.made-with {
	position: absolute;
	top: 0px;
	left: 0px;
	padding-top: 200px;
	padding-left: 1100px; 
	z-index: 2;
}

.made-with p {
	font-size: 18px;
}

.squarespace {
	position: absolute;
	top: 0px;
	left: 0px;
	padding-top: 0px;
	padding-left: 1090px; 
	z-index: 2;
	margin-top: 40px;
	font-size: 18px;
}

@media screen and (min-width: 768px) {
	.pot-plant-pic {
		width: 600px;
	}
	.design p {
		width: 400px;
		margin: 0 auto;

	}
}


